

      <div class="back">    
    
          <div class="col-sm-4 col-xs-12 text-center">
                <div id="carousel" class="carousel carousel-fade" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2F_uIB2SGoF6Bdcksabyp61K51VeTqPu5cxDSyjvWy15Vp8RTqn9tVzLhDParIyx7x6CQmcVyssOqsNc2UuFS3dXFHGXIlIA&amp;markh=970&amp;markalign=center%2Cmiddle" class="screenshot" alt="Screenshot of menly">
                      </div>
                      <div class="item">
                        <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2F-jIpAFCDyGsv19Ru0LIOCOl5rkjAqnzmXDiq4rqlW_u0fkq243toz2K_OENBn7BUlnoCDfa20-cryeaR_j-2BZiXQM1z&amp;markh=970&amp;markalign=center%2Cmiddle" class="screenshot" alt="Screenshot of menly">
                      </div>
                      <div class="item">
                        <img src="https://cluster-dev.imgix.net/_onboard/devices/iPhone6Black.png?w=750&amp;h=1334&amp;mark=https%3A%2F%2Flh3.googleusercontent.com%2FCMCWqtSBBMlOnW9aZlJziKo102hBvYaKMLFFmVIZbYdYO9VfN4XVD-dZHawvLvyo7Kri7wg2JXichY1QNk1qXJWvQg3nRw&amp;markh=970&amp;markalign=center%2Cmiddle" class="screenshot" alt="Screenshot of menly">
                      </div>
                  </div>
                </div>
          </div>


          <div class="col-sm-7 col-xs-12">
            <h1>  <img src="https://lh3.googleusercontent.com/QskqUr2kjubepaS4v8-7DUNt5RiRV49kXub4eZmHse9N5WZANM-Z8JCvU4uVcpul8wnkYPIxKF863TXsPaJPlpXcTiwi55I" class="app-logo">
  </h1>
            <h2>Pomáhá chlapům přežít ženský cyklus</h2>
              <p>Chlapi mají kromě hladu i jiné city. Přidej se, poznej cyklus partnerky, dej bacha na průsery, sdílej rady pro přežití s ženou, a když už nic jiného nepomůže, hoď alespoň vtipnou hlášku.
  
  </p>
            
          </div>
      </div>


<style type="text/css">

.back {
  background-image: url('https://lh3.googleusercontent.com/qtmgPqdF8DkmbMIi7pnhi1rkgVsHyyeW31-NAZ1n02zwlSP1l4BijqGvffkUYDs9OrpgZKTQUUFKzE36kOb0FbwY7Q66aB4=s1600');
}

.app-logo{
  height: 80px;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item {
            opacity: 0;
        }

        .active {
            opacity: 1;
        }

  
    }
}

</style>

<script type="text/javascript">
  $('.carousel').carousel();
</script>